{{ define "content" }}
    <div class="homepage">
        <h1>Featured</h1>

        {{/* configured in data/home.yaml */}}
        {{ with .Site.Data.home.layout }}
            {{ range first 1 .hero }}
                {{ partial "home/hero" ($.GetPage .path) }}
            {{ end }}

            {{ $featured := slice }}
            {{ range .featured }}
                {{ $page := $.Site.GetPage .path}}
                {{ if $page }}
                    {{ $featured = $featured | append $page }}
                {{ else }}
                    {{ printf "Page not found: %s" .path }}
                {{ end }}
            {{ end }}

            {{/* default ordering is order specified in home.yaml */}}
            {{ if isset $.Site.Params.home.featured "order" }}
                {{ $order := $.Site.Params.home.featured.order }}
                {{ if eq $order "-date" }}
                    {{ $featured = $featured.ByDate.Reverse }}
                {{ else if eq $order "date" }}
                    {{ $featured = $featured.ByDate }}
                {{ end }}
            {{ end }}

            {{ partial "home/featured" ($featured | uniq) }}
        {{ end }}
    </div>
{{ end }}