{{ $presentation := (partial "common/presentation" .) }}
{{ $mediaOnlyPresentations := $.Site.Params.presentation.mediaOnly | default (slice "video" "slideshow")}}
{{ $isMediaOnly := in $mediaOnlyPresentations $presentation }}
{{ $isParent := cond (not .Data.Pages) false true }}
{{ $isMinimal := or $isParent $isMediaOnly }}
{{ $slug := (partial "common/slug" .) }}
{{ $articleLink := ($.Scratch.Get "articleLink") }}


<div class="article-card article-actions">
    <div class="single {{ cond $isMinimal "single-minimal" "" }}">
        {{ if not $isMinimal }}
            <div class="single-image">{{ partial "common/thumbnail" . }}</div>
        {{ end }}
        <div class="single-content">
            {{ if $isParent }}
                <div class="single-title article-title article-actions" data-align="center-left">
                <h1>{{ .Title }}</h1>
                {{ partial "common/permalink" (dict "copyTitle" "article" "Page" . "slug" $slug "permalink" $articleLink) }}
                </div>
                <hr/>
            {{else}}
                <div class="single-title article-title article-actions" data-align="center-left">
                    <h2>{{ .Title }}</h2>
                    {{ partial "common/permalink" (dict "copyTitle" "article" "Page" . "slug" $slug "permalink" $articleLink) }}
                </div>
                {{ partial "article/author" . }}
                {{ partial "article/date" . }}
                {{ partial "article/tags" . }}
            {{ end }}
        </div>
    </div>
</div>
